$header-title-color: #10f9a4;
$link-primary-color: #c890ff;
$main-text-color: #000047;
$main-background-color: #fff;
$btn-border-color: #c5c5ff;
$btn-confirm-color: #bbff77;
$btn-cancel-color: #ffe2c5;
$btn-add-color: #c5e2ff;
