$header-title-color: #36d39a;
$link-primary-color: #c8a1ee;
$main-text-color: #272782;
$main-background-color: #fcfcfc;
$btn-border-color: #c5c5ff;
$btn-confirm-color: #bbea8c;
$btn-cancel-color: #f6e2ce;
$btn-add-color: #cee2f6;
$btn-disabled-color: #d9e2eb;
