// $header-title-color: #10f9a4;
$header-title-color: #36d39a;
// $link-primary-color: #c890ff;
$link-primary-color: #c8a1ee;
// $main-text-color: #000047;
$main-text-color: #272782;
// $main-background-color: #fff;
$main-background-color: #fcfcfc;
$btn-border-color: #c5c5ff;
// $btn-confirm-color: #bbff77;
$btn-confirm-color: #bbea8c;
// $btn-cancel-color: #ffe2c5;
$btn-cancel-color: #f6e2ce;
// $btn-add-color: #c5e2ff;
$btn-add-color: #cee2f6;
$btn-disabled-color: #d9e2eb;
