@mixin centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin customBtn($primary-color, $secondary-color) {
    border-color: $primary-color;

    &:hover {
        border-color: $primary-color;
        background-color: $primary-color;
        color:  $secondary-color;
    }
}

@mixin animatedBtn() {
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);;
    }
}

@mixin text-wrap {
    word-break: break-all;
    white-space: normal;
    max-width: 60vw;
}
