.label {
  margin-bottom: 2px;
  display: block;
}

.text-input {
  width: 30vh;
  height: 3vh;
  font-size: 3vh;
  padding: 0.5vh;
  background-color: $main-background-color;
  border: 0.2vh solid $main-text-color;

  &:focus {
    background-color: $main-text-color;
    color: $main-background-color
  }
}
