.header {
    margin: 25px 0;

    &__title {
        text-align: center;
        margin: 0;
        font-size: 7vh;
        color: $header-title-color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}
