.header {
    padding-top: 15px;

    &__title {
        text-align: center;
        margin: 0;
        font-size: 7vh;
        color: $header-title-color;
        font-family: $font-primary;
        font-weight: bold;
    }
}
